<div class="bar"></div>

<div class="show-panel">
  <%= User.find(params[:id]).inspect %>
  <p>Logged in as: <%= session[:username] %> , id: <%= session[:user_id] %></p>
</div>


<% if flash[:user_message] %>
  <div class="message"> <%= flash[:user_message] %></div>
<% end %>


<!-- edit details form -->
<% if @current_user %>
  <div class="user_form">
    <div class="form-title">Edit your details</div>
      <ul class="error-message">
        <% if flash[:edit_user_errors] %>
          <% flash[:edit_user_errors].each do |e| %>
            <li><%= e %></li>
          <% end %>
        <% end %>
    </ul>
    <%= form_for(@current_user, :url => user_path(@current_user), 
                            :html => {:method => "PATCH"}) do |f| %>
      <%= f.label(:full_name, "Full name:") %>
      <%= f.text_field(:full_name, :placeholder => "full name") %>
      <%= f.label(:username, "Username:") %>
      <%= f.text_field(:username, :placeholder => "username") %>
      
      <%#= f.password_field(:password_confirmation, :placeholder => "password confirmation") %>
      <%= f.label(:email, "Email:") %>
      <%= f.text_field(:email, :placeholder => "email") %>
      <br />
      <%= f.label(:password, "*Password confirmation required") %>
      <%= f.password_field(:password, :placeholder => "password") %>
      <div class="submit-box">
        <%= submit_tag('Save', :class => "submit_button") %>
        <a class="default_button" href='<%= edit_user_path(@current_user.id) %>'> Reset to defaults </a>
      </div>
    <% end %>
    <div style="clear:both"></div>
  </div>
<% end %>


<!-- edit Resend email confirmation form -->
<% if @current_user %>
  <div class="user_form">
    <div class="form-title">Resend email confirmation</div>
      <ul class="error-message">
        <% if flash[:email_sent_errors] %>
          <% flash[:email_sent_errors].each do |e| %>
            <li><%= e %></li>
          <% end %>
        <% end %>
    </ul>
    <%= link_to("Resend", {:action => "resend_email"}, {:class => "submitlike_button mid"}) %>
    <div style="clear:both"></div>
  </div>
<% end %>





<!-- edit password form -->
<% if @current_user %>
  <div class="user_form" id="change_password">
    <div class="form-title">Change your password</div>
      <ul class="error-message">
        <% if flash[:edit_password_errors] %>
          <% flash[:edit_password_errors].each do |e| %>
            <li><%= e %></li>
          <% end %>
        <% end %>
    </ul>


    <%= form_tag(:action => "change_password") do %>
      <%= password_field(:user, :old_password, :placeholder => "old password") %>
      <%= password_field(:user, :password, :placeholder => "new password") %>
      <%= password_field(:user, :password_confirmation, :placeholder => "confirm new  password") %>
      <div class="submit-box">
        <%= submit_tag('Reset', :class => "submit_button") %>
        <a class="default_button" href='<%= edit_user_path(@current_user.id) %>'> Reset to defaults </a>
      </div>
    <% end %>


    <div style="clear:both"></div>
  </div>
<% end %>





<!-- edit avatar form -->
<% if @current_user %>
  <div class="user_form" id="change_avatar">
    <div class="form-title">Set your avatar</div>
      <ul class="error-message">
        <% if flash[:edit_avatar_errors] %>
          <% flash[:edit_avatar_errors].each do |e| %>
            <li><%= e %></li>
          <% end %>
        <% end %>
    </ul>

    <!-- radio_gravatar for checked radio buttons -->
    <% if (@current_user.avatar && (@current_user.avatar.match"www.gravatar")) 
      radio_gravatar = true 
      else
        radio_gravatar = false
      end
    %>


    <div style="clear:both"></div>
  </div>
<% end %>