<!-- INDEX -->

<div class="bar"></div>

<% if flash[:user_message] %>
  <div class="message"> <%= flash[:user_message] %></div>
<% end %>




<!-- reset_password_form -->
  <div class="user_form">
    <div class="form-title">Reset your password</div>
      <ul class="error-message">
        <% if flash[:forgot_password_errors] %>
          <% flash[:forgot_password_errors].each do |e| %>
            <li><%= e %></li>
          <% end %>
        <% end %>
    </ul>


    <%= form_tag(:action => "forgot_password", :method => :post) do %>
      <%= label_tag(:email, "A new password will be sent to you.") %>
      <%= password_field(:user, :email, :placeholder => "Enter your email") %>
      <div class="submit-box">
        <%= submit_tag('Send', :class => "submit_button") %>
      </div>
    <% end %>


    <div style="clear:both"></div>
  </div>
