<div class="bar"></div>

<!-- Users List -->
<% if @users.size > 0 %>
  <div class="thoughts_list">
    <div class="main-title"> All users </div>
    <% @users.each do |t| %>
      <div class="thought-item">
        <!-- shout -->
        <div class="title"> <%= link_to(t.full_name, user_path(t.id)) %> </div>
        <div class="body">  <%= t.username  %> </div>
        <div class="follow"> Following: <%= t.followees.size %>, Followed by: <%= t.followers.size %> </div>

        <% if (!User.find_by_id(session[:user_id]).followees.any? {|x| x.id == t.id}) %>
          <!-- follow -->
          <%= link_to("Follow", {:user_id => session[:user_id], :controller => "relations", :action => "follow", :id => t.id}) %>
          <% else %>
          <!-- unfollow -->
          <%= link_to("Unfollow", {:user_id => session[:user_id], :controller => "relations", :action => "unfollow", :id => t.id}) %>
        <% end unless (session[:user_id]==nil || t.id == session[:user_id]) #except (not logged) or (list-item is current user) %>


        <div class="name-time"> registred on <%= t.created_at.strftime("%Y-%m-%d") %> at <%= t.created_at.strftime("%H:%M") %></div>
      </div>
    <% end %>

  </div>  
<% end %>


<%= render(:partial => 'partials/login_form') %>
<%= render(:partial => 'partials/register_form') %>