<!-- INDEX -->

<div class="bar"></div>

<% if flash[:user_message] %>
  <div class="message"> <%= flash[:user_message] %></div>
<% end %>

<!-- Thoughts List -->
<% if @allthoughts.size > 0 %>
  <div class="thoughts_list">
    <div class="main-title"> All thoughts </div>
    <% @allthoughts.each do |t| %>
      <div class="thought-item">
        <!-- shout -->
        <div class="title"> <%= t.title %> </div>
        <div class="body">  <%= t.body  %> </div>
        <div class="name-time"> by <%= link_to(t.user.full_name, user_path(t.user.id)) %>  on <%= t.created_at.strftime("%Y-%m-%d") %> at <%= t.created_at.strftime("%H:%M") %></div>
        <div style="clear: both"></div>
      </div>
    <% end %>
  </div>  
<% end %>


<%= render(:partial => 'partials/login_form') %>
<%= render(:partial => 'partials/register_form') %>